.contacto .contacto-info div {
    margin-bottom: 10px;
  }
  
  .location-icon {
    margin-right: 10px;
  }
  
  .location-link {
    text-decoration: none;
  }
  
  .location-link:hover {
    color: #6c757d;
  }
  